# Bỏ qua các thư mục
.cache/
.bundle/
.npm/
.java/
.msf4/
.vim.bak/
.local/
.vim/plugged/
.ssh/
.oh-my-zsh/
gh/

# Bỏ qua các tập tin
*Zone.Identifier
.*~
..vimrc.un~.
.gitignore.un~
.gitignore.un~
.vimrc.bak
.zshrc.bck
.zshrc~
addon-backup_12-09-2024.tar.gz
fzf-backup_12-09-2024.tar.gz
install.sh
ngrok-v3-stable-linux-amd64.tgz
oh-my-zsh-backup_12-09-2024.tar.gz
user-config-backup_12-09-2024.tar.gz
wsl-backup_12-09-2024.tar.gz
zshrc-backup_12-09-2024.txt
.wget-hsts
.zcompdump
.zcompdump-ACER-5.9
.zcompdump-ACER-5.9.zwc
.zcompdump.ACER.15039
.sudo_as_admin_successful


